streamlit
# Pydub et Audio
pydub
# On force Numpy sous la version 2 pour éviter les conflits
numpy<2.0.0
# On force MoviePy sur l'ancienne version compatible avec votre code
moviepy==1.0.3
imageio==2.9.0
imageio-ffmpeg==0.4.2
# Autres librairies
matplotlib
fpdf
mido
streamlit-image-coordinates
pandas
